*.backup
*.tf.swp
*.tfstate
*.tfstate.backup
.DS_Store
.env.sh
.envrc
.idea
.terraform
.terraform.lock.hcl
.vault-token
crash.log
kubeconfig_*
scratch
secret*
secret.tfvars
tfplan
.tool-versions
terraform.json
env.sh
